/* Normal Text */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Title, Header and gallery lettter */
@import url('https://fonts.googleapis.com/css2?family=Crushed&family=Montserrat&display=swap');

/* Subtitles and footer text*/
@import url('https://fonts.googleapis.com/css2?family=Crushed&family=Montserrat&family=Raleway&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

body {
	background-color: #1B100E;
}

/*-- HEADER --*/

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #F2E4E3;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	width: 100%;
	margin-bottom: 5%;
}

/* HEADER: logo */

.logo-menu {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	align-items: center;
}

/* HEADER: options */

.menu-option {
	color: #1B100E;
	text-decoration: none;
	padding: 2%;
	font-weight: bold;
} 

/* -- ARTIST -- */

/* -- ARTIST: title -- */

.list-artist-title {
    padding: 2% 3%;
    color: #F2E4E3;
    font-size: 100px;
    font-family: 'Crushed', sans-serif;
}

/* -- ARTIST: container -- */

.general-container-artist {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.container-artist {
    display: flex;
    align-items: center;
    margin: 2% 3%;
    background-color: #F2E4E3;
    border-radius: 6px;
    padding: 2% 0%;
    font-family: 'Montserrat', sans-serif;
}

.general-container-artist img {
    max-width: 30%;
    min-width: 10%;
    width: 20%;
    margin: 2%;
    box-shadow: 0 10px 10px 0 #36201C;
}

.container-artist li {
    padding: 1% 0%;
    margin-right: 1%;
    list-style-type: none;
    font-size: 22px;
    word-break: break-all;
    margin: 0 0 1em 1em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif
}

.container-artist button {
    width: 9em;
    height: 4em;
    border-radius: 8px;
    background-color: #CB9490;
    color: #000000;
    font-weight: bold;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
}

.container-artist button:hover {
    transition: 1s;
    background-color: #36201C;
    color: #F2E4E3;
    cursor: pointer;
}

/* -- FOOTER -- */

.container-contact {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    background-color: #36201d;
    justify-content: space-evenly;
    font-family: 'Raleway', sans-serif;
    margin-top: 3%;
}

.picture-logo {
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
}

.container-logo-position {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    width: 32%;
}

.logo-position {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-position p,
.logo-position a {
    text-decoration: none;
    font-size: 20px;
    color: #F2E4E3;
    font-size: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.social-position {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
}

.social-position img {
    padding: 3%;
}