/* Normal Text */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Title, Header and gallery lettter */
@import url('https://fonts.googleapis.com/css2?family=Crushed&family=Montserrat&display=swap');

/* Subtitles and footer text*/
@import url('https://fonts.googleapis.com/css2?family=Crushed&family=Montserrat&family=Raleway&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
	background-color: #1B100E;
}

/*-- HEADER --*/

/* HEADER: nav */

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #F2E4E3;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	width: 100%;
	margin-bottom: 5%;
}

/* HEADER: logo */

.logo-menu {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	align-items: center;
}

/* HEADER: options */

.menu-option {
	color: #1B100E;
	text-decoration: none;
	padding: 2%;
	font-weight: bold;
} 

.menu-option:hover {
  background-color: #dbd8d8;
}

/*-- PICTURES GRID --*/

/*-- GRID: media --*/

.grid-gallery {
	display: grid;
	grid-auto-rows: 500px;
	gap: 2rem;
	grid-auto-flow: row dense;
	margin: 0% 3% 0% 3%;
}

@media all and (min-width: 520px) {
	.grid-gallery {
		grid-template-columns: repeat(1, 1fr);
	}
	.title-art {
		bottom: 1em;
	}
}

@media all and (min-width: 768px) {
	.grid-gallery {
		grid-template-columns: repeat(2, 1fr);
	}
	.title-art {
		bottom: 2em;
	}
}

@media all and (min-width: 1024px) {
	.grid-gallery {
		grid-template-columns: repeat(3, 1fr);
	}
	.title-art {
		bottom: 1em;
	}
}

/*-- PICTURE --*/

/*-- PICTURE: SIze --*/

.grid-gallery__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

/*-- PICTURE: Title art --*/

.title-art {
	line-height: normal;
 	font-size: 18px;
	background:#f2e4e37c;
 	color:white;
 	padding: 2%;
 	text-align:center;
	display: flex;
	justify-content: center;
	border-radius: 5px;
	position: relative;
	bottom: 3em;
	width: 96%;
	font-family: 'Crushed', sans-serif;
	text-underline-offset: none;
}

/*-- GRID: Effect --*/

.grid-gallery a {
	text-decoration: none;
}

.grid-gallery__image:hover {
	filter: grayscale(80%);
	cursor: cell;
}

/* -- FOOTER -- */

.container-contact {
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: row;
	background-color: #36201d;
	justify-content: space-evenly;
	font-family: 'Raleway', sans-serif;
	margin-top: 3%;
}

.picture-logo {
	display: flex;
	padding-top: 3%;
	padding-bottom: 3%;
}

.container-logo-position {
	display: flex;
	flex-direction: column;
	justify-content: inherit;
	width: 32%;
}

.logo-position {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo-position p,
.logo-position a {
	text-decoration: none;
	font-size: 20px;
	color: #F2E4E3;
	font-size: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.social-position {
	display: flex;
	flex-direction: column;
	justify-content: inherit;
}

.social-position img {
	padding: 3%;
}
