/* Normal Text */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Title, Header and gallery lettter */
@import url('https://fonts.googleapis.com/css2?family=Crushed&family=Montserrat&display=swap');

/* Subtitles and footer text*/
@import url('https://fonts.googleapis.com/css2?family=Crushed&family=Montserrat&family=Raleway&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #F2E4E3;
}

.general-container {
    background-color: #F2E4E3;
}

/* -- HEADER -- */

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1B100E;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    width: 100%;
    margin-bottom: 5%;
}

/* HEADER: logo */

.logo-menu {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
}

/* HEADER: options */

.menu-option {
    color: #F2E4E3;
    text-decoration: none;
    padding: 2%;
    font-weight: bold;
}

.menu-option:hover {
    background-color: rgba(207, 204, 204, 0.459);
  }

/* -- INFORMATION -- */

/* -- INFORMATION: container -- */

.container-information {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 4%;
}

/* -- INFORMATION: picture -- */

.picture img {
    width: 50%;
    height: 67%;
    border-radius: 10px;
    margin: 1%;
}

/* -- INFORMATION: title -- */

.title {
    color: #1B100E;
    margin-bottom: 2%;
    font-size: 80px;
    font-family: 'Crushed', sans-serif;
}

/* INFORMATION: artist */

.artist {
    text-decoration: none;
    color: #36201C;
    font-size: 40px;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.artist:hover {
    background-color: #36201c41;
}

/* -- INFORMATION: description -- */

.description {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.description p {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 0px 10%;
}

.text-description {
    color: #36201C;
    text-align: center;
    line-height: 33px;
    margin-top: 4%;
}

.author-description {
    text-align: end;
    margin-top: 1%;
}

/* -- FOOTER -- */

.container-contact {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    background-color: #36201d;
    justify-content: space-evenly;
    font-family: 'Raleway', sans-serif;
    margin-top: 3%;
}

.picture-logo {
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
}

.container-logo-position {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    width: 32%;
}

.logo-position {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-position p,
.logo-position a {
    text-decoration: none;
    font-size: 20px;
    color: #F2E4E3;
    font-size: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.social-position {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
}

.social-position img {
    padding: 3%;
}